WEATHER_API_KEY=<YOUR_API_KEY>
WEATHER_API_URL=https://api.weatherapi.com/v1/current.json

CEP_API_URL=https://cep.awesomeapi.com.br/json

INPUT_API_HTTP_PORT=8080
INPUT_API_OTEL_SERVICE_NAME=input-api

ORCHESTRATOR_API_PORT=8081
ORCHESTRATOR_API_HOST=orchestrator-api
ORCHESTRATOR_API_SERVICE_NAME=orchestrator-api